
*.pkl
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
*.egg
*.ini
build/


docs/_build/*
docs/build/*
!docs/_static/.gitkeep
!docs/_templates/.gitkeep
docs/source/generated/*
